body{
    background-color: #e4240b
    font-family:Arial,Helvetica, sans-serif;margin:40px

}
{
    font-family: 'Courier New', Courier, monospace;
}
input{
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

select{
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}